<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/bot</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <mapping class="pl.project.bot.BotsEntity"/>
        <mapping class="pl.project.trade.TradesEntity"/>
        <mapping class="pl.project.user.UsersEntity"/>
    </session-factory>
</hibernate-configuration>